<div class="flex-none ml-8 w-24 h-24 bg-[#967FA9] rounded-full hidden sm:block overflow-hidden">
    <div class="relative w-24 h-24">
        <img loading="lazy" src="/assets/profile.jpg" class="w-24 h-24 rounded-full absolute top-0 left-0 z-10 opacity-1 transition-opacity hover:opacity-0"/>
        <img loading="lazy" src="/assets/photo.jpg" class="w-24 h-24 rounded-full absolute top-0 left-0"/>
    </div>
</div>