<div class="p-8 sm:p-12 bg-pure-purple-500">
    {% for item in linktree[locale] %}
        {% if loop.first %}
            <ul>
            {% endif %}
            <li>
                <a target="_blank" rel="noopener noreferrer" class="block font-bold drop-shadow-xl bg-pure-purple-900 hover:bg-pure-purple-800 shadow-inner rounded-full px-4 py-2 {% if not loop.last %} mb-4 {% endif %} border-2 border-transparent" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}
</div>