<link rel="stylesheet" type="text/css" href="/assets/main.css"/>
<meta name="viewport" content="width=device-width"/>
<meta charSet="utf-8"/>
<link rel="shortcut icon" href="https://joseli.to/assets/favicon.png" type="image/png"/>
<meta name="theme-color" content="#9480FF"/>