---
title: Notinhas
layout: layouts/base.njk
eleventyNavigation:
  key: Notinhas
  order: 2
---

{% set postslist = collections.notinhas %}

<p class="mb-4">Pequenas pílulas de conhecimento que não rendem um artigo inteiro, porém são interessantes o suficiente pra guardar e publicar. Eventualmente deverá ser a maior área deste humilde website.</p>

<ul>
  {%- for commit in collections.recentChanges %}
        <li><a href="https://github.com/breakzplatform/joseli.to/commit/{{commit.hash}}"><time>{{ commit.authorDate }}</time> {{ commit.subject }}</a></li>
  {%- endfor %}
</ul>

{% include "components/postslist.njk" %}