@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.npx::before {
    content: "$ ";
}

.post p,
.post pre {
    @apply mb-4;
}

a[href^="https://"]::after {
    content: "↗";
    font-family: system-ui,-apple-system,sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #00bcd4;
    padding-left: 2px;
    line-height: .75;
}