@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.npx::before {
    content: "$ ";
}

@layer utilities {
    .post p,
    .post pre {
        @apply mb-4;
    }
    
    .internal main a[href^="https://"]::after {
        content: "↗";
        font-family: system-ui,-apple-system,sans-serif;
        font-style: normal;
        font-weight: 900;
        padding-left: 2px;
        line-height: .75;
        color: theme('colors.pure-purple.900');
    }
}
