<!doctype html>
<html lang="{{ locale }}" class="internal">
  <head>
    {% include "../shared/head.njk" %}
  </head>
  <body class="bg-purple-100">
    <header class="bg-pure-purple-900 text-white">
      {% include "../components/navigation.njk" %}
    </header>
    <main class="py-12 max-w-4xl mx-auto px-4">
      <h1 class="font-black uppercase text-4xl mb-4 text-pure-purple-900">{{title}}</h1>
      {{ content | safe }}
    </main>
    <script src="/assets/main.js"></script>
  </body>
</html>