<!doctype html>
<html lang="{{ locale }}">
  <head>
    {% include "../shared/head.njk" %}
  </head>
  <body class="bg-pure-purple-900 text-pure-purple-50">
    <main class="max-w-xl mx-auto">
      <div class="p-8 sm:p-12"><img src="/assets/logo.png" width="192" height="157.17" alt="Joselito" class="mx-auto"></div>
      <div class="overflow-hidden shadow-lg md:rounded-lg">
        <div class="p-8 sm:p-12 text-center bg-pure-purple-800">
          <pre class="text-xl sm:text-3xl npx font-mono">npx joselito{% if locale != 'en' %} --lang={{ locale }}{% endif %}</pre>
        </div>
        {{ content | safe }}
        <div>
          <a href="{{ meta[locale]['ad']['link'] }}" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" alt="{{ meta[locale]['ad']['alt'] }}" src="{{ meta[locale]['ad']['image'] }}"/>
          </a>
        </div>
      </div>
      <div class="p-8 sm:p-12 text-center text-xs">
        <p class="mb-2">2010-{% currentYear %} Joselito Júnior (<a target="_blank" rel="noopener" class="underline decoration-pure-purple-500 underline-offset-2" href="{{ meta[locale]['footer']['cc']['link'] }}">CC BY-SA 4.0</a>)</p>
        <p>
          <a target="_blank" class="underline decoration-pure-purple-500 underline-offset-2" rel="noopener" href="https://11ty.dev/">{{ meta[locale]["footer"]["made"] }}</a> · <a target="_blank" rel="noopener" class="underline decoration-pure-purple-500 underline-offset-2" href="https://github.com/breakzplatform/joseli.to">{{ meta[locale]["footer"]["source"] }}</a>
        </p>
        <div class="mt-8 flex justify-center">
          <img src="/assets/pe.svg" class="rounded h-16 shadow-2xl"/>
        </div>
      </div>
    </main>
    <script src="https://assets.calendly.com/assets/external/widget.js" async></script>
    {# <script src="https://www.google.com/recaptcha/api.js" async defer></script> #}
    <script>
      function onSubmit(token) {
        document
          .getElementById("sendy")
          .submit();
      }(function () {
        const calendlyWidget = document.createElement('link');
        calendlyWidget.href = 'https://assets.calendly.com/assets/external/widget.css';
        calendlyWidget.rel = 'stylesheet';
        calendlyWidget.type = 'text/css';
        document
          .getElementsByTagName('head')[0]
          .appendChild(calendlyWidget);
      })();
    </script>
  </body>
</html>