---
layout: layouts/base.njk
---

    {# <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"> #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<p>{{ content | wordStats }}</p>
<span class="post">
    <h1 class="text-3xl">{{title}}</h1>
    <time>{{ date | readableDate }}</time>
    <article>{{ content | safe }}</article>
</span>
<script src="https://giscus.app/client.js"
        data-repo="breakzplatform/joseli.to"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNzE2NTkyNDE="
        data-category="Comments"
        data-category-id="DIC_kwDOEDEw6c4COSVI"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>