---
title: "Joselito — Empowering communities and making websites"
layout: layouts/index.njk
description: I am a Brazilian developer, consultant, teacher, and public speaker. Currently at Turing.com as a Community Manager. I love airplanes, the web, and temaki sushi.
ogType: website
eleventyExcludeFromCollections: true
---

<div class="p-12 bg-pure-purple-700">
    <h1 class="uppercase text-sm font-black mb-2">About</h1>
    <div class="flex">
        <p>I am a Brazilian developer, consultant, teacher, and public speaker. Currently at <a href="https://community.turing.com/latin-america-community/" target="_blank" rel="noopener" class="font-bold underline decoration-pure-purple-500 underline-offset-2">Turing.com</a> as a <strong>Community Manager</strong>. I love airplanes, the web, and temaki sushi.</p>
        {% include "../../_includes/components/avatar.njk" %}
    </div>
</div>
{% include "../../_includes/components/linktree.njk" %}
