* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: fixed linear-gradient(0deg, #D7F5EF, #9480FF);
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #694DFF;
}

.wrapper {
    width: 100%;
    max-width: calc(480px + 2rem);
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 12rem;
    margin: 4rem auto 1rem;
}

footer {
    text-align: center;
    font-size: .75rem;
    margin-bottom: 2rem;
}

.notion-blank {
    display: none;
}

.notion-callout {
    display: flex;
    padding: 1rem;
    background: #fff;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    margin-bottom: 1rem;
}

.notion-callout .notion-page-icon {
    margin-right: .5rem;
}

.notion-callout a:nth-child(n+2) {
    color: black;
}