---
title: Contato
layout: layouts/base.njk
eleventyNavigation:
  key: Contato
  order: 3
---

<form action="https://airform.io/eu@joseli.to" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <textarea name="message" placeholder="Enter your message"></textarea>
  <button>Send</button>
</form>