---
title: "Joselito — Faço sites e empodero comunidades de tecnologia"
layout: layouts/index.njk
description: Sou desenvolvedor front-end, consultor, instrutor e palestrante. Atualmente trabalho como Community Manager na Turing.com. Amo aviões, a web e temakis.
ogType: website
eleventyExcludeFromCollections: true
---
{% set notinhas = collections.drops | filterCollectionByLocale(locale) %}
{% set posts = (collections.post | filterCollectionByLocale(locale)) %}

<div class="p-12 bg-pure-purple-700">
    <h1 class="uppercase text-sm font-black mb-2">Sobre</h1>
    <div class="flex">
        <p>Sou desenvolvedor front-end, consultor, instrutor e palestrante. Atualmente trabalho como <a href="/turing/" class="font-bold underline decoration-pure-purple-500 underline-offset-2">Community Manager</a> na <a href="https://joselito.link/turingcom" target="_blank" rel="noopener" class="font-bold underline decoration-pure-purple-500 underline-offset-2">Turing.com</a>. Amo aviões, a web e temakis.</p>
        {% include "../../_includes/components/avatar.njk" %}
    </div>
</div>

{# <div class="p-12 bg-pure-purple-600">
    <div class="mb-8">
        <a href="{{ '/notinhas/' | url }}">
            <h1 class="uppercase text-sm font-black mb-2">Notinhas</h1>
        </a>
        <ul class="list-none">
            {% for post in notinhas | reverse %}
                <li>
                    <strong>
                        <a href="{{ post.url | url }}" class="underline decoration-dotted underline-offset-2 text-xl">{{ post.data.title }}</a>
                    </strong>
                    <time class="text-xs" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1 class="uppercase text-sm font-black mb-2">Artigos</h1>
        <ul class="list-none">
            {% for post in posts | reverse%}
                {% if (loop.index <= 3) %}
                    <li>
                        <strong>
                            <a href="{{ post.url | url }}" class="underline decoration-dotted underline-offset-2 text-xl">{{ post.data.title }}</a>
                        </strong>
                        <time class="text-xs" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div> #}

{% include "../../_includes/components/linktree.njk" %}

<div class="p-8 sm:p-12 bg-pure-purple-400">
    <div class="aspect-w-16 aspect-h-9 rounded-md drop-shadow-xl overflow-hidden">
        <iframe allowfullscreen allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" sandbox="allow-scripts allow-same-origin" src="data:text/html,<style scoped>html,body{margin:0;padding:0;}a{height:100%;display:block;background:center/cover no-repeat black url(https://i.ytimg.com/vi/DrD9sdMwRpQ/0.jpg)}a:hover .b{fill:red;opacity:1}svg{position:absolute;left:50%25;top:50%25;width:68px;height:48px;margin-left:-34px;margin-top:-24px}</style><a href=https://www.youtube-nocookie.com/embed/DrD9sdMwRpQ?modestbranding=1&showinfo=1&rel=1&autoplay=1><svg viewBox=%220 0 68 48%22><path class=b fill=%23222 opacity=.8 d=%22M67 8c-1-3-3-6-6-6-5-2-27-2-27-2S12 0 7 2C4 2 2 5 1 8L0 24l1 16c1 3 3 6 6 6 5 2 27 2 27 2s22 0 27-2c3 0 5-3 6-6l1-16-1-16z%22/><path d=%22M45 24L27 14v20%22fill=%23fff>"></iframe>
        {# <iframe src="https://www.youtube.com/embed/DrD9sdMwRpQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> #}
    </div>

    <a target="_blank" rel="noopener noreferrer" class="block font-bold text-center drop-shadow-xl bg-white text-pure-purple-900 shadow-inner rounded-md px-4 py-2 mt-4 border-2 border-transparent" href="https://joselito.link/turingcom">Comece a trabalhar remoto ganhando em Dólar</a>
    <a class="block text-center drop-shadow-xl bg-white text-pure-purple-900 shadow-inner rounded-md px-4 py-2 mt-4 border-2 border-transparent" href="/turing/">Veja mais links da <strong>Turing.com</strong>
    </a>
</div>

{# <div id="revue-embed" class="p-12 bg-pure-purple-300 text-pure-purple-900">
    <h1 class="uppercase text-sm font-black mb-2">Newsletter</h1>
    <p class="pb-4">A <strong>Jose7</strong> é uma newsletter</p>
    <form id="sendy" action="https://joselito.email/sendy/subscribe" method="POST" accept-charset="utf-8">
        <div class="flex mb-4">
            <div class="revue-form-group flex-grow">
                <label for="email" class="hidden">E-mail:</label>
                <input class="revue-form-field w-full px-4 py-2 rounded-l-full drop-shadow-xl shadow-inner" placeholder="l.inacio13@bol.com.br" type="email" name="email" id="email">
            </div>
            <div class="hidden">
                <label for="hp">HP</label>
                <input type="text" name="hp" id="hp"/>
                <input type="hidden" name="list" value="REiwg5mJtq0NWlOPKVY4dw"/>
                <input type="hidden" name="subform" value="yes"/>
            </div>
            <div>
                <button data-sitekey="6Lfu0CggAAAAAC_SrEoKv7gJapGyCn4ib-5laHjO" data-callback="onSubmit" class="g-recaptcha w-full px-4 py-2 rounded-r-full bg-pure-purple-800 text-pure-purple-200 text-p font-bold drop-shadow-xl shadow-inner">Inscreva-se</button>
            </div>
        </div>
    </form>
</div> #}